/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

html {
  height: 100%;
  width: 100%;
}
body {
	background: #333;
  color: #bababa;;
	overflow: hidden;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
  height: 100%;
  width: 100%;
  margin: 0;
}

/* Other */
.hide {
  visibility: hidden;
  opacity: 0;
}

*[disabled] {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  opacity: 0.7;
  pointer-events: none;
}

.purple-side {
  background: #5a4aade1;
}

.orange-side {
  background: #76453cdc;
}

.neutral-side {
  background: #7c7776de;
}

.base-side {
  background: #7c7776de;
}

.item-side {
  background: #7c7776de
}

.purple-mon {
  border: 2px solid #8473fd;
  border-radius: 50%;
  background-color: #594ba8ef;
  -webkit-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	    transform: scaleX(-1);
}

.orange-mon {
  border: 2px solid #e4825c;
  border-radius: 50%;
  background-color: #ca6e4a4d;
}

.neutral-mon {
  border: 2px solid #1e1e20;
  border-radius: 50%;
  background-color: #1b17316e;
}

.base-mon {
  border: 2px solid #1e1e20;
  border-radius: 50%;
  background-color: #1b17316e;
}

.bitem-mon {
  border: 2px solid #1e1e20;
  border-radius: 50%;
  background-color: #1b17316e;
}

.hitem-mon {
  border: 2px solid #1e1e20;
  border-radius: 50%;
  background-color: #1b17316e;
}

/* Map */
.map-container {
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-transform-origin: 0px 0px;
      -ms-transform-origin: 0px 0px;
          transform-origin: 0px 0px;
  -webkit-transform: scale(1) translate(0px, 0px);
      -ms-transform: scale(1) translate(0px, 0px);
          transform: scale(1) translate(0px, 0px);
}

.map {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto;
	width: 100%;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.canvas.drawing {
  pointer-events: initial;
}

.dragged {
  position: absolute;
}


/* Top Buttons */
.btnholder {
  background: #0000008a;
	border-radius: 0 0 25% 25%;
  padding: 4px;
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btnholder .zoombtn {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  vertical-align: middle;
  color: #bababa;
  font-size: 1em;
  padding: 5px;
	-webkit-transition: text-shadow 0.3s, opacity 0.2s;
	-o-transition: text-shadow 0.3s, opacity 0.2s;
	transition: text-shadow 0.3s, opacity 0.2s;
}

.zoombtn:hover {
	color: white;
  cursor: pointer;
}

.zoombtn.zoomin {
  color: white;
}

/* Drawing tools */
.drawtool {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.drawtool img {
  width: 30px;
  height: 30px;
}

.draw-size-tool:hover {
  color: #fff;
}

.pencil,
.draw-color,
.draw-size,
.eraser {
  cursor: pointer;
}

.pencil:hover,
.eraser:hover {
  -webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	    transform: scale(1.1);
	-webkit-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.draw-color::-webkit-color-swatch:hover {
  border-radius: 5px;
  -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.draw-color {
  width: 30px;
  height: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
}
.draw-color::-webkit-color-swatch {
  border-radius: 10px;
  border: none;
}
.draw-color::-moz-color-swatch {
  border-radius: 10px;
  border: none;
}

/* Icon on bottom right corner */
.links {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  background: #000000a4;
  bottom: 0;
  right: 0;
  padding: 5px;
}

.discord, .help {
  height: 20px;
}



/* Tooltips */
.tooltip .tooltiptext {
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 10px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover {
  cursor: pointer;
}

/* Menus */
.menu {
  position: fixed;
  width: 20vw;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  -o-transition: transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.left-menu {
  height: 80vh;
  top: 0;
  left: 0;
}

.right-menu {
  height: 80vh;
  top: 0;
  right: 0;
}

.bottom-left-menu {
  height: 20vh;
  bottom: 0;
  left: 21vw;
}

.bottom-right-menu {
  height: 20vh;
  bottom: 0;
  right: 21vw;
}

.bottom-middle-menu {
  height: 20vh;
  bottom: 0;
  left: 50vw;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.left-menu .draggable-items {
  border-radius: 0px 10px 10px 0px;
}

.right-menu .draggable-items {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  border-radius: 10px 0px 0px 10px;
}

.bottom-left-menu .draggable-items {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 10px 10px 0px 0px;
}

.bottom-right-menu .draggable-items {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 10px 10px 0px 0px;
}

.bottom-middle-menu .draggable-items {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 10px 10px 0px 0px;
  -ms-flex-direction: column;
      flex-direction: column;
}

.bottom-middle-menu .draggable-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu span {
  position: absolute;
  padding: 10px;
}

.menu span:hover {
  color: #fff;
  cursor: pointer;
}

.left-menu span {
  top: 0;
  right: 0;
  -webkit-transform: translate(100%, 50%);
      -ms-transform: translate(100%, 50%);
          transform: translate(100%, 50%);
  border-radius: 0px 10px 10px 0px;
}

.right-menu span {
  top: 0;
  left: 0;
  -webkit-transform: translate(-100%, 50%);
      -ms-transform: translate(-100%, 50%);
          transform: translate(-100%, 50%);
  border-radius: 10px 0px 0px 10px;
}

.bottom-left-menu span {
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
      -ms-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  border-radius: 10px 10px 0px 0px;
}

.bottom-right-menu span {
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
      -ms-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  border-radius: 10px 10px 0px 0px;
}

.menu.closed {
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  -o-transition: transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.left-menu.closed {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.right-menu.closed {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

.bottom-left-menu.closed {
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
}

.bottom-right-menu.closed {
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
}

/* Draggables */
.draggable-container {
  height: 100%;
  display: -ms-grid;
  display: grid;
}

.draggable-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-top: 2px solid #2d2d2d7a;
  padding: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2px;
}

.draggable {
  height: 6vh;
  width: 6vh;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.draggable.bitem-mon {
  height: 3.2vh;
  width: 3.2vh;
}

.draggable.hitem-mon {
  height: 3.2vh;
  width: 3.2vh;
}

/*.draggable.berry-mon {
  height: 3.2vh;
  width: 3.2vh;
}*/